@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
.logo-container {
    text-align: center;
    background-color: #FFE2D1;
    

}

.logo-img {
    width: 20%;
    height: 50%;
    
}

.menu{
  background-color: #FFE2D1;
}

.lista-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
}

.link {
    text-decoration: none;
    color: black;
    font-size: clamp(16px, 4vw , 30px);
}


/*Bienvenida*/
.bienvenida {
    background-color: #ffd7bf;
    display: flex;
    font-family: 'Chewy', Verdana, Tahoma, sans-serif;
    font-size: clamp(32px, 8vw, 51px);
    padding: 3%;
    text-align: center;
    flex-wrap: wrap;
}


/*Productos*/

.productos{
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
}

.tit-prod {
    text-align: center;
}

.prod-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:12px;
}

.item-tit {
    text-align: center;
    font-size: 20px;
    font-family: 'BBH Sans Hegarty' ,Verdana, Tahoma, sans-serif;
    margin-bottom: 8px;
}

.prod-item {
  border: 4px solid pink;
  border-radius: 8px;
  padding: 8px;
}

.imagen-card {
    height: 600px;
    width: 500px;
}

.precio {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.off {
    color: green;
}

.botonera {
    text-align: center;
    padding: 8px 0;
}

.btn-agregar {
    background-color: rgb(250, 190, 222);
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 8px;
    color: black
    
}

.btn-agregar:hover {
    background-color: rgb(216, 128, 175);
}

/*Formulario*/

.contacto {
    
    background-color: #ffd7bf;
    color: black
    
    
}

.tit-contacto {
    font-size: clamp(32px, 8vw, 64px);
    text-align: center;
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif; ;
}

.subtit-contacto {
    font-size: clamp(16px, 4vw, 24px);
    text-align: center;
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
}

.form-container {
    text-align: center;
    margin: auto;
}

.formulario {
    background-color: white;
    font-size: 16px;
    border: 2px solid pink;
    border-radius: 8px;
    width: 300px;
    margin: auto;
}

input[type=text],[type=email],textarea {
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
}

input[type=text] {
    margin: 32px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

input[type=email] {
    margin-bottom: 32px;
    border-bottom: 1px solid rgb(0, 0, 0);
    }

.mensaje {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 2px;
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
    
}
    

.btn-enviar {
    margin-bottom: 20px;
    padding: 8px;
    background-color: lightpink;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 8px;
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
    display: flex;
    margin: 0 auto;
    
}

.btn-enviar:hover {
    background-color: rgb(216, 128, 175);
}

.footer {
  background-color: #e08167;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  text-align: center;
  padding: 32px 0;
  gap: 6px 0;
  font-size: 2.5vw;

}



.footer-links {
  width: 33%;
  font-size: (26px, 10vw, 52px);


}

.footer-ul {
  font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
  font-size: 30px;
}


.footer-mapa {
   width: 33%



}

.texto-redes {
    font-size: larger;
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
    color: rgb(0, 0, 0)
}

.footer-redes {
   width: 33%;
   flex-direction: row;

}

.footer-redes svg {
  width: 60px;
  fill: rgb(0, 0, 0);
}



.Copyright {
    text-align: center;
    display: flex;
    font-family: 'BBH Sans Hegarty', Verdana, Tahoma, sans-serif;
    background-color: #e08167;
}

@media only screen and (320px <= width <= 768px) {


  .footer {
    flex-direction: column;
    align-items: center;
  }
    .footer-redes{
        background-color: #fedfe3dd;
        flex-direction: row;

    }
}    